.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;

  header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 124px;


    .back {
      cursor: pointer;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    img {
      margin-bottom: 40px;
    }

    form {
      width: 100%;
      height: 100;
      padding-left: 30px;
      padding-right: 30px;

      .inputContainer {
        display: flex;
        flex-direction: column;

        label {
          font-family: 'Inter', sans-serif;
          font-size: 0.750em;
          font-weight: 600;
          margin-bottom: 4px;
        }

        input{
          width: 330px;
          height: 42px;
          border: #B1B1B1 1px solid;
          border-radius: 4px;
          margin-bottom: 22px;
        }

        input:focus {
          box-shadow: 0 0 0 0;
          border: #000 1px solid;
          outline: 0;
      }



      }


      button {
        position: absolute;
        right: 30px;
        bottom: 22px;
        background-color: #075985;
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-size: 0.750em;
        font-weight: 800;
        height: 36px;
        width: 96px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }

    }
  }
}
