<div class="container">
  <header>
    <img class="back" routerLink="/credential/list" src="/assets/icons/back.svg" alt="voltar" />

    <img src="/assets/imgs/logo.png" alt="Pass Manger Logo" />
  </header>

  <main>
    <img src="/assets/imgs/passwordBox.png" alt="Icone de senha" />

    <form>
      <div class="inputContainer">
        <label>Email:</label>
        <input type="text" />
      </div>

      <div class="inputContainer">
        <label>Usuário:</label>
        <input type="text" />
      </div>

      <div class="inputContainer">
        <label>Senha:</label>
        <input type="text" />
      </div>

      <div class="inputContainer">
        <label>Nome do Website:</label>
        <input type="text" />
      </div>

      <div class="inputContainer">
        <label>Website:</label>
        <input type="text" />
      </div>


      <button>Salvar</button>
    </form>
  </main>
</div>
