<div class="container">
  <header>
    <img
      class="back"
      routerLink="/credential/list"
      src="/assets/icons/back.svg"
      alt="voltar"
    />

    <img src="/assets/imgs/logo.png" alt="Pass Manger Logo" />
  </header>

  <main>
    <div class="credentialInfons">
      <img src="/assets/imgs/passwordBox.png" alt="" />

      <div class="info">
        <h4>Amazon</h4>
        <p>amazon.com.br</p>
      </div>
    </div>

    <form *ngIf="credential" [formGroup]="form">
      <div class="inputContainer">
        <label>Email:</label>
        <input
          type="text"
          placeholder="{{ credential.emailCredential }}"
          formControlName="emailCredential"
        />
      </div>

      <div class="inputContainer">
        <label>Usuário:</label>
        <input
          type="text"
          placeholder="{{ credential.usernameCredential }}"
          formControlName="usernameCredential"
        />
      </div>

      <div class="inputContainer">
        <label>Senha:</label>
        <input
          type="text"
          placeholder="{{ credential.credentialPassword }}"
          formControlName="credentialPassword"
        />
      </div>

      <div class="inputContainer">
        <label>Nome do Website:</label>
        <input
          type="text"
          placeholder="{{ credential.websiteName }}"
          formControlName="websiteName"
        />
      </div>

      <div class="inputContainer">
        <label>Website:</label>
        <input
          type="text"
          placeholder="{{ credential.websiteUrl }}"
          formControlName="websiteUrl"
        />
      </div>

      <button (click)="updateCredential()">Salvar</button>
    </form>
  </main>
</div>
