<div class="container">
  <header>
    <img class="back" routerLink="/credential/list" src="/assets/icons/back.svg" alt="voltar" />

    <img src="/assets/imgs/logo.png" alt="Pass Manger Logo" />
  </header>

  <main>
    <div class="credentialInfons">
      <img src="/assets/imgs/passwordBox.png" alt="">

      <div class="info">
        <h4>Amazon</h4>
        <p>amazon.com.br</p>
      </div>
    </div>

      <form>
        <div class="inputContainer">
          <label>Email:</label>
          <input type="text"  placeholder="fulanodetal@gamil.com"/>
        </div>

        <div class="inputContainer">
          <label>Usuário:</label>
          <input type="text"  placeholder="fulano_de_tal"/>
        </div>

        <div class="inputContainer">
          <label>Senha:</label>
          <input type="text"  placeholder="fulano123"/>
        </div>

        <div class="inputContainer">
          <label>Nome do Website:</label>
          <input type="text"  placeholder="amazon"/>
        </div>

        <div class="inputContainer">
          <label>Website:</label>
          <input type="text" placeholder="amazon.com.br" />
        </div>

        <button>Salvar</button>
      </form>

  </main>
</div>
