<div class="container">
  <header>
    <img
      class="back"
      routerLink="/credential/list"
      src="/assets/icons/back.svg"
      alt="voltar"
    />

    <img src="/assets/imgs/logo.png" alt="Pass Manger Logo" />
  </header>

  <main>
    <h1>Editar meu perfil</h1>

    <form [formGroup]="form">
      <div class="inputContainer">
        <label>Email:</label>
        <input
          placeholder="fulanodetal@gmail.com"
          type="text"
          formControlName="email"
        />
      </div>

      <div class="inputContainer">
        <label>Usuário:</label>
        <input
          placeholder="fulanodetal"
          type="text"
          formControlName="username"
        />
      </div>

      <div class="inputContainer">
        <label>Senha:</label>
        <input
          placeholder="*******"
          type="password"
          formControlName="password"
        />
      </div>

      <div class="inputContainer">
        <label>Confirmar senha:</label>
        <input
          placeholder="*******"
          type="password"
          formControlName="confirm"
        />
      </div>

      <div class="buttonContainer">
        <button class="delete">Excluir conta</button>

        <button class="save">Salvar</button>
      </div>
    </form>
  </main>
</div>
