<div class="container">

  <header>
    <img src="/assets/imgs/logo.png" alt="Logo">
    <h2>Pass Manager</h2>
  </header>

  <main>
    <h2>Bem vindo!</h2>
    <p  class="insertData">Complete seus dados para cadastrar-se</p>

    <form [formGroup]="form">


      <label for="email">Email:</label>
      <input id="email" class="singInInput" type="text" placeholder="Insira seu email"  formControlName="email">

      <label for="username">Usuário:</label>
      <input id="username" class="singInInput" type="text" placeholder="Insira seu nome de usuário"  formControlName="username">

      <label for="password">Senha:</label>
      <input id="password" class="singInInput" type="password" placeholder="Insira sua senha" formControlName="password">

      <label for="comfirm">Confirme sua senha:</label>
      <input id="comfirm" class="singInInput" type="password" placeholder="Insira sua senha" formControlName="comfirm">

      <div class="regiterContainer">
        <button (click)="register()">Entre</button>
        <p class="register">Já tem uma conta? <a routerLink="/auth/sign-in">Entre</a> </p>
      </div>

    </form>
  </main>
</div>
